:root {
  --main-background-clr: hsl(233, 47%, 7%);
  --card-background-clr: hsla(244, 38%, 16%);
  --accent-clr: hsl(277, 64%, 61%);

  --main-heading-clr: hsl(0, 0%, 100%);
  --main-paragraph-clr: hsla(0, 0%, 100%, 0.75);
  --stat-heading-clr: hsla(0, 0%, 100%, 0.6);

  --primary-font: "Inter", sans-serif;
  --secondary-font: "Lexend Deca", sans-serif;
}

html {
  box-sizing: border-box;
  font-size: 15px;
}

body,
h1,
h2,
h3,
p,
a {
  margin: 0;
  padding: 0;
}

body {
  background-color: var(--main-background-clr);
}

.main {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.card {
  display: flex;
  margin: 3em auto;
  flex-direction: column;
  max-width: min(90%, 450px);
  border-radius: 10px;
  background-color: var(--card-background-clr);
  text-align: center;
}

.card__img__container {
  position: relative;
  border-radius: 10px 10px 0 0;
  background-color: var(--accent-clr);
  background-image: url('./images/image-header-mobile.jpg');
  background-size: 100% 100%;
  background-blend-mode: multiply;
  width: 100%;
  z-index: 1;
  padding-bottom: calc(480/654 * 100%);
}

.card__img__container::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: var(--accent-clr);
  background-size: 100%;
  border-radius: 10px 10px 0 0;
  opacity: .2;
  z-index: 2;
}

.card__content {
  padding: 2.5em 2.5em 1em;
  display: grid;
  gap: 1em;
}

.card__heading {
  font-family: var(--primary-font);
  font-size: 1.7rem;
  color: var(--main-heading-clr);
}

.card__heading--highlight {
  color: var(--accent-clr);
}

.card__text {
  padding-bottom: 1em;
  font-family: var(--primary-font);
  color: var(--main-paragraph-clr);
  line-height: 1.7em;
  opacity: .9;
}

.card__stats {
  padding-bottom: 1em;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.5em;
}

.card__stats--big {
  font-family: var(--primary-font);
  font-weight: 700;
  font-size: 1.5rem;
  color: var(--main-heading-clr);
  line-height: 1.5em;
}

.card__stats--small {
  font-family: var(--secondary-font);
  font-weight: 400;
  font-size: .7rem;
  color: var(--stat-heading-clr);
  text-transform: uppercase;
  letter-spacing: .1em;
}

.footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2em 0;
  gap: .5em;
  color: var(--main-paragraph-clr);
}

.footer__link,
.footer__link:visited {
  color: var(--main-paragraph-clr);
}

.footer__link:hover,
.footer__link:focus,
.footer__link:active {
  text-decoration: none;
  opacity: .7;
}

@media (min-width: 800px) {
  .card {
    display: flex;
    flex-direction: row-reverse;
    text-align: left;
    max-width: 75%;
  }

  .card__img__container {
    border-radius: 0 10px 10px 0;
    background-image: url("./images/image-header-desktop.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    width: none;
    flex-grow: 1;
    padding-bottom: 0;
  }

  .card__img__container::after {
    border-radius: 0 10px 10px 0;
    padding-bottom: 0;
  }

  .card__content {
    padding: 3em 0 3em 4em;
  }

  .card__heading {
    max-width: 90%;
    font-size: 2.4rem;
  }

  .card__text {
    max-width: 80%;
  }

  .card__stats {
    padding-top: 2em;
    max-width: 80%;
    flex-direction: row;
  }

  .card__stats p {
    margin-right: 2em;
  }
}